
body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 800px !important;
    padding: 1px;
    height: 600px !important; /* Should be removed. Only for demonstration */
  }
  
  .column4 {
    float: left;
    padding: 1px;
    height: 49vh; /* Full viewport height */
    width: 49vw; /* Full viewport width */
  }
  
  .column4 {
    background-color: #aaa; /* Default color */
  }
  .column4:nth-child(2) {
      background-color: #bbb;
  }
  .column4:nth-child(3) {
      background-color: #ccc;
  }
  .column4:nth-child(4) {
      background-color: #ddd;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

canvas
{
    width: 100% !important;
    height: 100% !important;
    display: block !important;

    outline: 1px solid red;
}


#help_dlg {
  position: absolute;
  top: 3em;
  margin: 10px !important;
  width: 40em;
  height: 20em;
}


#mav3dmap {
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}
.map3D_container {
    position: relative;
    width: 100%;
    height: 100%;
    float: left; /* For 2x2 grid */
    overflow: hidden;
}
.map3D_container canvas {
    width: 100%;
    height: 100%;
    display: block; /* Removes extra spacing */
}
.drone-sid-label {
    background: rgba(0, 0, 0, 0.59);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
    pointer-events: none;
    position: absolute;
}